language: python

python:
  - 3.7

install:
  - pip install -r requirements.txt

before_script:

script:
  - black --check .
  - flake8 .

after_script:

deploy:
  provider: elasticbeanstalk
  access_key_id: $ACCESSKEYID
  secret_access_key: $SECRETACCESSKEY
  region: us-east-1
  app: swe1-app2
  env: swe1-app2-dev
  bucket_name: elasticbeanstalk-us-east-1-162312403626
  on:
    branch: main